<%- content_for :inline_css do -%>
<style type="text/css">
  .item div {
    margin: 0 2em 0 0;
  }

  ol {
    margin-left: 2em;
  }
  ol li {
    margin-left: 3em;
  }
</style>
<%- end -%>
<div class="item">
<% scope = %w[activerecord attributes talk] -%>
<h2><%=t("title", :scope => scope) %>: <%=h @talk.title %></h2>
<h3><%=t("speaker", :scope => scope) %></h3>
<div class="speaker"><p><%=h @talk.speaker %></p></div>
<h3><%=t("abstract", :scope => scope) %></h3>
<div class="abstract"><%= render_hikidoc(@talk.abstract) %></div>
<h3><%=t("date", :scope => scope) %></h3>
<div class="date"><p><%= l(@talk.start_at.to_date, :format => :long) %></p></div>
<h3><%= t("room", :scope => scope) %></h3>
<div class="room"><p><%=h t(@talk.room) %></p></div>
<h3><%= t("profile", :scope => scope) %></h3>
<div class="profile"><%= render_hikidoc(@talk.profile) %></div>

<h3>Presentation Material</h3>
<div style="margin-left:2em;padding:10px 0 10px 30px;">
<% if (material_link = @talk.material_link) -%>
<%= link_to material_link, material_link %>
<% else %>
<span class="not_available">(Sorry, currently not available)</span>
<% end %>
</div>

<h3>Video footage</h3>
<% unless @nicovideo_links.blank? -%>
<% @nicovideo_links.each do |(sm, title)| -%>
<div style="margin-left:2em;padding:30px;">
<script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/<%= sm %>?w=480&h=360"></script><noscript><a href="http://www.nicovideo.jp/watch/<%= sm %>"><%=h title %></a></noscript><br />
<a href="http://www.nicovideo.jp/watch/<%= sm %>"><%=h title %></a>
</div>
<% end -%>
<% else -%>
<p>(sorry, currently not available)</p>
<% end -%>

<p style="margin-top:40px;text-align:right;">
<%= link_to(t(:back_to_timetable), talks_path(:year => @year)) %>
</p>

</div>
