<%- content_for :inline_css do -%>
<style type="text/css">
  .item div {
    margin: 0 2em 0 0;
  }

  ol {
    margin-left: 2em;
  }
  ol li {
    margin-left: 3em;
  }
</style>
<%- end -%>
<div class="item">
<% scope = %w[activerecord attributes talk] -%>
<h2><%=t("title", :scope => scope) %>: <%=h @talk.title %></h2>
<h3><%=t("speaker", :scope => scope) %></h3>
<div class="speaker"><p><%=h @talk.speaker %></p></div>
<h3><%=t("abstract", :scope => scope) %></h3>
<div class="abstract"><%= render_hikidoc(@talk.abstract) %></div>
<h3><%=t("date", :scope => scope) %></h3>
<div class="date"><p><%= l(@talk.start_at.to_date, :format => :long) %></p></div>
<h3><%= t("room", :scope => scope) %></h3>
<div class="room"><p><%=h t(@talk.room) %></p></div>
<h3><%= t("profile", :scope => scope) %></h3>
<div class="profile"><%= render_hikidoc(@talk.profile) %></div>

<p style="margin-top:40px;text-align:right;">
<%= link_to(t(:back_to_timetable), talks_path(:year => @year)) %>
</p>

</div>
