<%# coding: utf-8 -%>
<div class="item">
  <h2><%=t(:goodies) %></h2>
  <p>RubyKaigi2009に関連するファイルなどを提供します。</p>
  <h3><%=t(:wallpapers) %></h3>
  <h4>Type A</h4>
  <ul>
    <li><%= link_to("type_a_1024x768.png", "/images/goodies/wallpapers/type_a_1024x768.png") %></li>
    <li><%= link_to("type_a_1280x800.png", "/images/goodies/wallpapers/type_a_1280x800.png") %></li>
    <li><%= link_to("type_a_1440x900.png", "/images/goodies/wallpapers/type_a_1440x900.png") %></li>
    <li><%= link_to("type_a_1600x1200.png", "/images/goodies/wallpapers/type_a_1600x1200.png") %></li>
    <li><%= link_to("type_a_1920x1200.png", "/images/goodies/wallpapers/type_a_1920x1200.png") %></li>
  </ul>
  <h4>Type B</h4>
  <ul>
    <li><%= link_to("type_b_1920x1200.png", "/images/goodies/wallpapers/type_b_1920x1200.png") %></li>
    <li><%= link_to("type_b_1600x1200.png", "/images/goodies/wallpapers/type_b_1600x1200.png") %></li>
  </ul>
  <h4>Type C</h4>
  <ul>
    <li><%= link_to("type_c_1920x1200.png", "/images/goodies/wallpapers/type_c_1920x1200.png") %></li>
    <li><%= link_to("type_c_1600x1200.png", "/images/goodies/wallpapers/type_c_1600x1200.png") %></li>
  </ul>
  <h4>Type D</h4>
  <ul>
    <li><%= link_to("type_d_1920x1200.png", "/images/goodies/wallpapers/type_d_1920x1200.png") %></li>
    <li><%= link_to("type_d_1600x1200.png", "/images/goodies/wallpapers/type_d_1600x1200.png") %></li>
  </ul>
  <h3><%=t(:badge) %></h3>
  <p>参加者用（RubyKaigi2009に参加される方はご自分のサイトに張りましょう！）</p>
  <p>
    <%= link_to(image_tag('goodies/badges/attendee.gif', :alt => 'attendee'), "http://rubykaigi.org/2009/") %></li>
  </p>
  <p>スピーカー用（RubyKaigi2009でスピーカーとして参加される方用）</p>
  <p>
    <%= link_to(image_tag('goodies/badges/speaker.gif', :alt => 'speaker'), "http://rubykaigi.org/2009/") %></li>
  </p>
  <p>スポンサー用（RubyKaigi2009にスポンサー企業様用）</p>
  <p>
    <%= link_to(image_tag('goodies/badges/sponsor.gif', :alt => 'sponsor'), "http://rubykaigi.org/2009/") %></li>
  </p>
  <p>スタッフ用</p>
  <p>
    <%= link_to(image_tag('goodies/badges/staff.gif', :alt => 'staff'), "http://rubykaigi.org/2009/") %></li>
  </p>
  <h3><%=t(:bgm) %></h3>
  <p>会期中に会場で使用したBGMです。</p>
  <p><div align="center"><object width="200" height="300" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" align="middle"><param name="allowScriptAccess" value="always" /><param name="wmode" value="transparent" /><param name="movie" value="http://widgets.jamendo.com/en/playlist/?playertype=2008&playlist_id=124718" /><param name="quality" value="high" /><param name="bgcolor" value="#FFFFFF" /><embed src="http://widgets.jamendo.com/en/playlist/?playertype=2008&playlist_id=124718" quality="high" wmode="transparent" bgcolor="#FFFFFF" width="200" height="300" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">&nbsp;</embed>&nbsp;</object></div></p>

  <h3><%=t(:license) %></h3>
  <p>
  <%= link_to(image_tag('http://i.creativecommons.org/l/by/2.1/jp/88x31.png', :size => '88x31'), 'http://creativecommons.org/licenses/by/2.1/jp/') %><br />
  <%= link_to('http://creativecommons.org/licenses/by/2.1/jp/', 'http://creativecommons.org/licenses/by/2.1/jp/') %>
  </p>

  <div>
    <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'goodies', :locale => I18n.locale)) %>
  </div>
</div>
