<%# coding: utf-8 -%>

<div class="item">
  <h2><%=t :rubykaigi2009 %></h2>

  <div class="article">
    <strong>RubyKaigi2009</strong> will be held at Hitotsubashi Conference Hall in Chiyoda-ku, <strong>Tokyo</strong>, over 3 days from Friday, <strong>July 17th</strong> until Sunday, <strong>July 19th</strong>.

    <ul>
      <li>Dates: July 17-19 2009</li>
    	<li>Fee: 6,000 JPY (Planned price; 3 days pass)
		  <ul>
			<li><%= link_to_if controller.registration_open?, 'Registration', registrations_path(:year => '2009', :locale => 'en') %> 2nd round ticket for RubyKaigi 2009 <del>go on sale from <strong>2009-06-17 12:30 JST</strong></del>&nbsp;<strong>sold out</strong>.</li>
			<li>ticketing 1st round(2009-06-01 19:00-) was sold out in 111 minutes.</li>
		  </ul>
    	</li>
      <li>Venue: Hitotsubashi Conference Hall in Chiyoda-ku, Tokyo&nbsp;(<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E4%B8%80%E3%83%84%E6%A9%8B2%E4%B8%81%E7%9B%AE1%E7%95%AA2%E5%8F%B7&sll=37.0625,-95.677068&sspn=56.243791,87.802734&ie=UTF8&z=17&iwloc=addr">Map</a>)</li>
      <li>Streaming: Sessions are scheduled to streaming via Ustream.tv. the streaming will be distrubuted by &quot;KaigiFreaks&quot;.The delivery quality is best effort.</li>
      <li>official tag: rubykaigi2009</li>
    </ul>

    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E4%B8%80%E3%83%84%E6%A9%8B2%E4%B8%81%E7%9B%AE1%E7%95%AA2%E5%8F%B7&amp;sll=37.0625,-95.677068&amp;sspn=56.243791,87.802734&amp;ie=UTF8&amp;z=14&amp;iwloc=addr&amp;ll=35.702196,139.76223&amp;output=embed&amp;s=AARTsJoUVtmxkSbQq8Ss4BKDR4d_ZX2JNA"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E4%B8%80%E3%83%84%E6%A9%8B2%E4%B8%81%E7%9B%AE1%E7%95%AA2%E5%8F%B7&amp;sll=37.0625,-95.677068&amp;sspn=56.243791,87.802734&amp;ie=UTF8&amp;z=14&amp;iwloc=addr&amp;ll=35.702196,139.76223" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div>

<div class="item">
  <h2>Agenda</h2>
  <ul>
  	<li>Keynote addresses: <strong>Matz</strong>, <strong>Masayoshi Takahashi</strong></li>
	<li>Talks:&nbsp;Yehuda Katz (Merb, Rails), Scott Chacon (Github), Kuwata Makoto (erubis), Jeremy Evans (Sequel), Masatoshi Seki (erb, druby, rinda), Michael Felinger (Ramaze), Koichi Sasada (Ruby 1.9), Nick Sieger and Tom Enebo (JRuby), Akira Tanaka (openuri), Keiju Ishitsuka (irb, &quot;the guy who named Ruby&quot;), Kentaro "gotoken" Goto (Benchmark),and lots more!</li>
  </ul>
  <h3><%= link_to 'Timetable and Session Detail', '/2009/en/talks' %></h3>
</div>

<div class="item">
  <h2>Conference Party</h2>
  <ul>
  	<li>Date: July 17 2009</li>
  	<li>Fee: 5,000 JPY</li>
  	<li>Place: in the nearby RubyKaigi2009 venue.</li>
  </ul>
  <ul>
	<li><del><%= link_to_if controller.registration_open?, 'Registration', registrations_path(:year => '2009', :locale => 'en') %> 2nd round ticket for RubyKaigi 2009 go on sale from 2009-06-17 12:30 JST</del>&nbsp;<strong>sold out</strong>.</li>
	<li>ticketing 1st round(2009-06-01 19:00-) was sold out in 111 minutes.</li>
  </ul>
</div>

<div class="item">
  <h2><%= link_to_if controller.registration_open?, 'Registration', registrations_path(:year => '2009', :locale => 'en') %></h2>
  <div class="soldout_notice"
>RubyKaigi 2009 ticket is sold out.
</div>
  <p><del><%= link_to_if controller.registration_open?, 'Registration', registrations_path(:year => '2009', :locale => 'en') %> will be open on 2009-06-17 12:30 JST.</del> sold out</p>
</div>

<div class="item">
  <h2>Call for Lightning Talks(LT) Submissions</h2>
  <div class="soldout_notice"
>Lightning Talk submission was deadlined. Thanks you all for such a massive submissions :-)
</div>

  <p>RubyKaigi2009 is currently accepting <%= link_to_if controller.lt_submission_open?, 'submissions', "/2009/#{I18n.locale}/lightning_talk_submissions" %> for Lightning Talks. We're looking for talks on a wide range of topics, from demos of Ruby applications, to your opinions about Ruby itself, and so forth. Please apply if you're interested!</p>

</div>
