<%# coding: utf-8 -%>
<div class="item">
  <h2>新着情報</h2>
  <%= render :partial => 'ruby_kaigi2009/headline' %>
</div>
<div class="item">
  <h2><%=t :rubykaigi2009 %></h2>
  <p>日本Ruby会議は、オブジェクト指向スクリプト言語Rubyに関するイベントとしては 世界でも最大級のもので、2006年から毎年開催されています。昨年つくばで開催された 日本Ruby会議2008は、3日間でのべ1000人を越える来場者を数えました。</p>
  <p>その第４回目となる日本Ruby会議2009(略称:RubyKaigi2009)は、2009年7月17日から 19日までの３日間、学術総合センター（東京都千代田区）にて開催いたします。 都内はもとより、関東圏外の方から参加される方に対しても利便性の高い会場であり、 例年以上の参加を見込んでいます。</p>
  <p>RubyKaigi2009のテーマは、「変わる／変える」です。 前回のRubyKaigi2008のテーマであった「多様性」の言葉の通り、 2008年はRubyそのものに関しても、またRubyの活躍する舞台に関しても、 ますます多様化が進みつつあります。RubyKaigi2008は、そのような Rubyの生態系をあらためて認識する場となりました。 しかし、こうした多様化が進む中、異なる者同士が単純に距離を 置いたままでは、その違いを認識したところであまり意味がありません。 異なる実装、異なる思想、異なる背景といった、様々な多様性を理解しつつ、 すり合わせるべきものをすり合わせ、変えていくべきところを 変えていくことが、豊かな未来へとつながる道に違いありません。</p>
  <p>Ruby自身、1.9.1のリリースを迎え、大きく変わりつつあります。 進化を遂げつつあるRubyに対し、Rubyとその周辺をどのように変えていくのか、 そして変わっていくRubyに対し、私たち自身がどう変わっていくべきなのか、 どのように変わることができるのか。 そのような変革への期待と決意を一望できる場所となればと考えています。 みなさまのご参加を心よりお待ちしております。</p>
</div>

<div class="item">
  <h2>開催概要</h2>
  <ul>
    <li>名称: 日本Ruby会議2009 (RubyKaigi2009)</li>
    <li>会期: 2009 年 7 月 17 日(金)・18 日(土)・19 日(日)</li>
    <li>会場: <a href="http://www.zam.go.jp/e00/e0000800.htm">学術総合センター</a>（東京都千代田区）<a href="http://maps.google.co.jp/maps?q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E4%B8%80%E3%83%84%E6%A9%8B2%E4%B8%81%E7%9B%AE1%E7%95%AA2%E5%8F%B7&amp;lr=lang_ja&amp;oe=utf-8&amp;client=firefox&amp;ie=UTF8&amp;split=0&amp;gl=jp&amp;ei=IEGOScu3EtXFkAWLl9zLDA&amp;z=16&amp;iwloc=addr">地図</a></li>
    <li>料金: 6,000円
      <ul>
        <li>3日間の通し券です(日割はいたしかねます)。</li>
        <li>決済には<a href="http://paypal.com/">PayPal</a>を利用しますが、購入にあたりPayPalアカウントの用意は必須ではありません。</li>
        <li>追加<%= link_to_if controller.registration_open?, '販売', registrations_path(:year => '2009', :locale => 'ja') %>は、<strong>6月17日(水) 12:30(JST)から行います。</strong></li>
        <li>チケットは6月1日(月) 19:00(JST)から本サイトにて<%= link_to_if controller.registration_open?, '販売', registrations_path(:year => '2009', :locale => 'ja') %>しましたが、2時間弱で予定販売枚数を終了しました。</li>


      </ul>
    </li>
    <li>会期中はKaigiFreaksによるUstream.tv経由でのストリーミング配信を予定しています。配信品質はベストエフォートです。</li>
    <li>公式タグ: rubykaigi2009</li>
    <li>主催: 日本Ruby会議2009実行委員会, Rubyアソシエーション, 日本Rubyの会</li>
  </ul>

  <h2>プログラム</h2>
  <ul>
    <li>基調講演: まつもとゆきひろ, 高橋征義</li>
    <li>セッションスピーカー:arton, Mohammad Ali, Vincent Isambart, 石塚圭樹, ujihisa, 浦嶌 啓太, 卜部昌平, Jeremy Evans, 遠藤侑介, 大場寧子, okkez, 角谷信太郎, 勝間友久, 笹田耕一, Aaron Quint, 倉井 龍太郎, Ilya Grigorik, James Edward Gray II, 桑田誠, 後藤謙太郎, Jason Goecke, 坂本龍一, Nick Sieger and Tom Enebo, 柴田博志, Srihari Srinivasan and Karthik Ramachandra, 関将俊, 高井直人, 高尾宏治, 田中哲, nari, 西山和広, 橋本和典、木山真人, Aaron Patterson, 原悠, Andriy Hnativ, Michael Fellinger, Daniel Bovensiepen, 前田修吾, 増満工将, 松田明, 村田賢太, John Mettraux, 森 琢磨, Yugui, Yehuda Katz, Scott Chacon</li>
  </ul>
  <div>タイムテーブルの詳細は追って告知します。</div>
</div>

<div class="item">
  <h2>懇親会</h2>
  <ul>
    <li>日程: 2009 年 7 月 17日(金)</li>
    <li>料金: 5,000円</li>
    <li>会場: 神保町周辺</li>
    <li>チケットは6月1日(月) 19:00(JST)から本サイトにて<%= link_to_if controller.registration_open?, '販売', registrations_path(:year => '2009', :locale => 'ja') %>します。</li>
    <li>決済にはPayPalを利用します。
  </ul>
</div>

<div class="item">
  <h2><%= link_to_if controller.registration_open?, '参加登録について', registrations_path(:year => '2009', :locale => 'ja') %></h2>
  <div class="soldout_notice"
>RubyKaigi2009本編のチケットは予定販売枚数を終了しました。<br/>
追加販売を、<strong>6月17日(水) 12:30(JST)から行います。</strong>
  </div>
  <p>RubyKaigi2009への参加にあたっては、事前にチケットの購入が必要です。チケットの追加販売は6月17日(水) 12:30(JST)から<%= link_to_if controller.registration_open?, '販売', registrations_path(:year => '2009', :locale => 'ja') %>します。決済にはpaypal.comを利用します。</p>
  <p>懇親会についても同様です。</p>
</div>

<div class="item">
  <h2><%= link_to_if controller.lt_submission_open?, 'ライトニングトークの発表者を募集しています', "/2009/#{I18n.locale}/lightning_talk_submissions" %></h2>
  <p>いわゆるライトニングトークの発表者を<%= link_to_if controller.lt_submission_open?, '募集しています', "/2009/#{I18n.locale}/lightning_talk_submissions" %>。毎年好評なので、今年は会期中に2回ライトニングトークスをおこなう予定です(応募数次第ではありますが)。皆さまからのたくさんのご応募お待ちしております。</p>
</div>

<div class="item">
  <h2>ボランティアスタッフ、プレゼンテーションおよびスポンサーの募集について</h2>
  <p>いずれも締め切りました。多数のお問い合わせならびにご応募ありがとうございました。</p>
</div>
