<%# coding: utf-8 -%>
<div class="item">
  <h2>参加者向け情報</h2>
  <h3>会場での無線LANの使用について</h3>
  <p>会場では無料の無線によるインターネット接続を提供しています。
  具体的には、5.6GHz帯と2.4GHz帯それぞれの無線アクセスポイントを各会場に設けています。
  どうぞご利用ください。
  なお、会場のネットワーク資源は有限ですので、ストリーミング動画の配信や視聴など、
  多くの帯域を消費するアプリケーションのご利用はお控えください。</p>
  <p>なお、会場のネットワークはセキュリティ上の理由で会場から外に出るポートが厳しく制限されています。
  ssh (22/TCP) や irc (6667/TCP) での外部への接続ができません(http は利用可)。
  制限のないインターネットアクセスが必要な方は、
  お手数をおかけしますがご自身でご用意されますようお願いします。</p>
  <h3>会場内での飲食について</h3>
  <p>一橋記念講堂内は飲食禁止です。一橋記念講堂以外の会議室については飲食可能です。
  ロビー、エントランスについては飲み物のみ可能となっております。
  ご協力の程どうぞよろしくお願い致します。</p>
  <h3>ゴミの持ち帰りにご協力ください</h3>
  <p>弁当ガラや食べ残し、飲み物の空缶やペットボトルなど会場内で出たゴミについては、極力お持ち帰りをお願いいたします。
  運営上の負担を極力減らすため、ご理解とご協力の程どうぞよろしくお願い致します。</p>
  <h3>会場付近での食事について</h3>
  <p><%=link_to("食べログ", "http://r.tabelog.com") %>による会場付近のランチ情報の検索結果が参考になります。どうぞご活用ください。</p>
  <ul>
    <li><%=link_to("PC版", "http://r.tabelog.com/rst/rstmap?clon=139.758120775223&clat=35.6924543947299&lz=0&Cat=RC&LstRev=1") %></li>
    <li><%=link_to("モバイル版", "http://m.tabelog.com/mobile_gps/RC/A/0/0/l/rstlstgps/?&lat=35.6924543947299&lon=139.758120775223&Cat=RC&LstRev=1") %></li>
  </ul>
  <h3>気分が悪くなった方は</h3>
  <p>以下を参照し、ご自身で近隣の病院等に行かれるか、または運営スタッフまでお声掛けください。</p>
  <ul>
    <li><%=link_to("東京都 御茶ノ水/神保町 病院検索 - goo ヘルスケア", "http://hospital.health.goo.ne.jp/result.php?pcd=13&cnd=med&icd=05704&act.search.x=26&act.search.y=18&act.search=%A1%A1%B8%A1%BA%F7%A1%A1") %></li>
  </ul>
  <h3>会場内の電源コンセントについて</h3>
  <p>会場にノートパソコンや携帯機器を持ち込む方が多くいらっしゃるかと思います。<br>
  一橋記念講堂内では一般参加者向けの電源は用意していません。<br>
  中会議室や特別会議室には電源タップを用意する予定です(数はあまり多くありません)。<br>
  ロビーには充電コーナーを設ける予定ですので併せてご利用下さい。<br>
  いずれにせよ、用意できるコンセントの数は参加者の数に対してかなり少ない見込みです。<br>
  みなさま譲りあってご利用されますようお願いします。<br>
  また、長時間に渡って機器を使用されたい方は予備のバッテリーをお持ちになることを強くお勧めします。</p>

  <div>
    <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'Information', :locale => I18n.locale)) %>
  </div>
</div>
