<%# coding: utf-8 -%>
<div class="item">
  <h2>Useful Information for RubyKaigi2009 Attendees</h2>
  <h3>Wi-Fi Internet Access</h3>
  <p>Free wi-fi internet access will be provided at the conference venue. There will be access points operating on both the 5.6GHz and 2.4Ghz bands available at each of the halls at the venue. We ask you to keep in mind that network resources are limited, so please avoid high bandwidth usage of the internet, such as watching or broadcasting video, etc.</p>
  <p>For security reasons, access to most outbound ports on the venue's network (excluding http) are severely restricted. Services blocked include ssh (22/TCP) and irc (6667/TCP). If you need access restricted ports, you will need to make your own arrangements for internet access.</p>
  <h3>Using IRC at the venue</h3>
  <p>Please access the RubyKaigi IRC channels via <%= link_to("http://webchat.freenode.net/") %>, the web interface provided by freenode. Details of the Official RubyKaigi IRC channels can be found at the link below.</p>
  <ul>
    <li><%=link_to("RubyKaigi2009 - IRC","http://rubykaigi.org/2009/en/irc") %></li>
  </ul>
  <h3>Food and Drink at the Venue</h3>
  <p>Consumption of food and drink inside the main hall (Hitotsubashi Memorial Hall) is not permitted. Food and drink is, however, permitted in the other halls.  In the lobby and entrance areas, only consumption of drink (not food) is permitted.</p>
  <p>We also request your co-operation in taking home any rubbish from food and drink consumed at the venue, such as empty drink containers, bento leftovers, etc.</p>
  <h3>Restaurants Near the Venue</h3>
  <p>Please refer to the map linked below for restaurants in the area of the venue.</p>
  <ul>
    <li><%=link_to("Lunch Map", "http://r.tabelog.com/rst/rstmap?clon=139.758120775223&clat=35.6924543947299&lz=0&Cat=RC&LstRev=1") %></li>
  </ul>
  <h3>If you feel unwell...</h3>
  <p>A map of the local hospitals is linked below. Please do not hesitate to contact nearby RubyKaigi staff if you require assistance.</p>
  <ul>
    <li><%=link_to("Hospital List", "http://hospital.health.goo.ne.jp/result.php?pcd=13&cnd=med&icd=05704&act.search.x=26&act.search.y=18&act.search=%A1%A1%B8%A1%BA%F7%A1%A1") %></li>
  </ul>
  <h3>Power Outlets at the Venue</h3>
  <p>Power outlets will not be available in the main hall (Hitotsubash Memorial Hall). The other halls will have a limited number of power outlets available for attendees. A recharging area is also planned for the lobby area.</p>
  <p>Nonetheless, we do not expect to be able to provide a sufficient number of power outlets to accommodate all attendees. We ask you to be considerate of others when using power outlets. We suggest that you bring spare batteries for your devices, or perhaps your own power strips.</p>
  <p>For attendees from outside of Japan, please keep in mind that domestic electricity in eastern Japan (including Tokyo) is 100V/50Hz. Most computer transformers can accommodate a wide range of voltages and frequencies, but please check to be sure. Most outlets will be for <%=link_to("Japanese 2-pin flat blade plugs", "http://www.kropla.com/!ab.htm")%>, although a limited number may be 3-pin flat blade plugs with a round grounding pin (North American). Please bring an appropriate adapter.</p>
  <h3>If you have bulky luggage...</h3>
  <p>Unfortunately, the venue has no cloak room facilities. Please leave your luggage at your hotel or use a coin locker. Coin lockers can be found at most train stations in the vicinity.</p>
  <div>
    <%=link_to('Permalink', pub_release_url(:year => 2009, :page_name => 'Information', :locale => I18n.locale)) %>
  </div>
</div>
