<div id="footer">
  <div class="item">
    <h2>Links</h2>
    <ul>
      <li><%= link_to(t(:RubyKaigiDiary), "http://rubykaigi.tdiary.net/") %></li>
      <li><%= link_to('Regional RubyKaigi', 'http://regional.rubykaigi.org/') %></li>
      <li><%= link_to('Ruby Association', 'http://www.ruby-assn.org/') %></li>
      <li><%= link_to(t(:NihonRubynoKai), 'http://jp.rubyist.net/') %></li>
    </ul>
  </div>

  <div class="item">
    <h2>RubyKaigi Archive</h2>
    <ul>
      <li><%= link_to('RubyKaigi2009', "/2009/#{I18n.locale}") %></li>
      <li><%= link_to('RubyKaigi2008', 'http://jp.rubyist.net/RubyKaigi2008/') %></li>
      <li><%= link_to('RubyKaigi2007', 'http://jp.rubyist.net/RubyKaigi2007/') %></li>
      <li><%= link_to('RubyKaigi2006', 'http://jp.rubyist.net/RubyKaigi2006/') %></li>
    </ul>
  </div>
  
  <div class="item">
    <h2>Powerd by</h2>
    <ul>
      <li>Ruby <%= RUBY_VERSION %></li>
      <li>Rails <%= Rails::VERSION::STRING %></li>
    </ul>
  </div>
</div><!-- footer -->

<p>Feel free to contact us via e-mail to: 2009 at rubykaigi dot org.</p>
