<% content_for :inline_css do -%>
<style type="text/css" rel="stylesheet" media="screen">
  form#reissue_exchange_tickets {
    margin: 0 50px 1em;
  }

  form#reissue_exchange_tickets input.email {
    font-size: 22px;
  }

  input.submit {
    margin-left: 20px;
    font-size: 22px;
  }
</style>
<% end -%>
<div class="item">
<h2><%= t(:exchange_ticket_reissue) %></h2>
<p>
<%= t(:exchange_ticket_reissue_desc) %>
</p>
<p>
<div style="margin-bottom: 2px;"><%= t(:your_email_on_paypal) %>:</div>
<% form_tag(reissue_exchange_tickets_path, :id => 'reissue_exchange_tickets') do -%>
  <%= text_field_tag 'email', "", :size => 30, :class => "email" %>
  <%= submit_tag t(:reissue), :class => "submit", :onclick => 'disable_button(this)'  %>
<% end -%>
</p>
</div>
<script type="text/javascript">
function disable_button(btn) {
  btn.disabled = true;
  btn.value = '<%= t(:processing) %>';
  btn.form.submit();
};
</script>
