<h3><%= t("paypal.thanks.heading") %></h3>

<p>
<%= t('paypal.thanks.your_txn_id_is') %> : <%=h @notified_transaction_id %><br />
</p>

<p>
<%= t('paypal.thanks.instruction') %>
</p>

<p>
<%= t('paypal.thanks.how_about_lightning_talk', :lt_submission => link_to(t('lightning_talk'), "/2009/#{I18n.locale}/lightning_talk_submissions")) %>
</p>

<hr />
<%= link_to 'RubyKaigi2009 Registration', "/2009/#{I18n.locale}/registrations" %>
