<%# coding: utf-8 -%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= [@title, 'RubyKaigi'].compact.join(' - ')  %></title>
    <%= javascript_include_tag  %w[prototype effects dragdrop controls jquery-1.3.2.min application] %>
    <%= stylesheet_link_tag %w[application admin] %>
    <%= yield :css %>
    <%= yield :inline_css %>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="container">
      <%= render_flash_messages %>
      <div id="content">
        <div id="header">
<h1>rubykaigi.orgの管理画面</h1>
        </div>
		<div id="main">
<%= yield %>
        </div>
      </div><!-- content -->
    </div><!-- container -->
  </body>
</html>
