<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= [@title, t("rubykaigi2009")].compact.join(" - ")  %></title>
    <link href="/stylesheets/defaults.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <div id="container">
      <div id="header">
        <%= link_to(image_tag('top.png', :alt => 'RubyKaigi2009 @Tokyo July 17-19 2009', :width => 780, :height => 460), "/2009/#{I18n.locale}") %>
        <h1>
          <%=t :rubykaigi2009 %><br />
          <span style="font-size:small">[<a style="text-decoration: none" href="/2009/ja">ja</a>][<a style="text-decoration: none" href="/2009/en">en</a>]</span>
        </h1>
      </div>
      <div id="content">

<%= yield %>

        <div style="text-align:right"><%= link_to t(:rubykaigi2009), "/2009/#{I18n.locale}" %></div>
      </div><!-- content -->
    </div><!-- container -->
    Feel free to contact us via e-mail to: 2009 at rubykaigi dot org.

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-6972157-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    
    <% if I18n.locale == "ja" -%>
    <div id="analog"><%= image_tag('analog.gif', :alt => 'ruby 1.8', :title => 'ruby 1.8') %></div>
    <% end -%>
    
  </body>
</html>
